.container {
    border: 1px solid grey;
    border-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 700px;
    height: 600px;
    margin: auto;
    border-bottom: -1px;
    
}

.Hcontainer a {
    color: red;
}

.Hcontainer {
    padding-top: 20px;
    margin: auto;
    width: 215px;
}
.Hcontainer p {
    margin-top: -20px;
    margin-bottom: 50px;
}

.Fcontainer {
    margin: auto;
    width: 350px;
    border: none;
    color: black;
}

.started {
    font-size: 40px;
}

input {
    display: block;
    width: 100%;
    color: grey;
    padding: 12px 26px;
    margin-top: 12px;
    border: 1px solid grey;
}

.sbutton {
    display: block;
    width: 116%;
    border: none;
    background-color: red;
    color: white;
    padding: 12px 26px;
    font-size: 16px;
    text-align: center;
}
